<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minesweeper_Flags.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minesweeper_Flags.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Minesweeper_Flags.Settings>
            <setting name="BeginnerNam1" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="BeginnerNam2" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="BeginnerNam3" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="IntermediateNam1" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="IntermediateNam2" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="IntermediateNam3" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="ExpertNam1" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="ExpertNam2" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="ExpertNam3" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="BeginnerSweeps1" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="BeginnerSweeps2" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="IntermediateSweeps1" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="IntermediateSweeps2" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="IntermediateSweeps3" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="ExpertSweeps1" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="ExpertSweeps2" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="ExpertSweeps3" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="BeginnerSweeps3" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="DefaultMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Sounds" serializeAs="String">
                <value>True</value>
            </setting>
        </Minesweeper_Flags.Settings>
    </userSettings>
    <applicationSettings>
        <Minesweeper_Flags.Settings />
    </applicationSettings>
</configuration>
